/* banner */
.banner {
  background-image: url(./02-homesalon_banner.jpg);
  background-position: 30% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h2 {
  font-size: var(--mainfont);
  font-weight: 700;
  color: var(--clr-specfont);
  text-align: center;
  padding: 80px 0;
  letter-spacing: 3px;
  text-shadow: 0 0 10px var(--clr-bg-y);
}

/* 跳轉各項服務 */
.service-type {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);
  margin-top: -10px;
}
.service-type li {
  margin: 0 5px;
  padding: 20px 10px;
  text-align: center;
}
.service-type a {
  text-decoration: none;
  font-size: var(--font);
  color: var(--clr-font);
}
.service-type i {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--clr-border);
}
.service-type li:hover i,
.service-type li:focus i {
  animation: service-type-focus 0.4s infinite alternate;
}
@keyframes service-type-focus {
  0% {
    position: relative;
    top: 0;
  }
  100% {
    position: relative;
    top: -10px;
  }
}

/* 單項服務說明 */
.homesalon {
  padding: 20px 0;
}
.homesalon h3 {
  font-size: 24px;
  padding: 10px 0;
}
.homesalon p {
  padding-bottom: 10px;
}
.homesalon li {
  line-height: 2;
}
.homesalon li i {
  font-size: 12px;
  vertical-align: center;
  color: var(--clr-primary);
  margin-right: 10px;
}

/* 搜尋 */
.search-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-bg-y);
  background-color: var(--clr-border);
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.search-btn:hover,
.search-btn:focus {
  background-color: var(--clr-specfont);
}

/* 平台服務介紹 */
.service-introduction {
  background-color: var(--clr-bg-y);
}
.intro-list {
  padding: 30px 0;
}
.intro-list li {
  color: var(--clr-bg-g);
  font-size: var(--font);
  letter-spacing: 1px;
}
.intro-list h4 {
  color: var(--clr-font);
  font-size: 16px;
  padding-bottom: 5px;
}
.intro-list h4 i {
  margin-right: 10px;
}
.intro-list span {
  color: var(--clr-border);
}

/* 推薦 */
.popular-recommend {
  background-color: var(--clr-bg-y);
}

/* RWD */
@media screen and (min-width: 768px) {
  .banner {
    background-position: 0% 70%;
  }
  .banner h2 {
    padding: 130px 0;
    font-size: 40px;
  }
  .service-type {
    position: relative;
    left: 25%;
    width: 50%;
    margin-top: -60px;
  }
  .service-type li {
    margin: 0 10px;
  }
}
@media screen and (min-width: 992px) {
  .banner h2 {
    letter-spacing: 5px;
    font-size: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .banner h2 {
    letter-spacing: 5px;
    font-size: 48px;
  }
}
