/* container */
main {
  background-color: var(--clr-bg-y);
  padding: 20px;
}
.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.container h2 {
  color: var(--clr-specfont);
  font-size: var(--vicefont);
  font-weight: 600;
  margin-bottom: 20px;
}

/* 合約內文 */
.contract-content,
.contract-check {
  margin: 10px;
  padding: 20px;
  border: 1px solid var(--clr-primary);
  border-radius: 10px;
}
.contract-content h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
.contract-content p {
  font-size: var(--font);
  padding-bottom: 15px;
}
.contract-content p:not(:first-of-type, :last-of-type) {
  text-indent: 2em;
}
.contract-content span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
}
/* 合約確認 */
.contract-check .col {
  margin: 5px 0;
}

/* 按鈕 */
.step-control {
  text-align: right;
}
.next-btn,
.previous-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  background-color: var(--clr-border);
  color: var(--clr-bg-y);
  transition: 0.5s;
}
.next-btn:hover,
.next-btn:focus,
.previous-btn:hover,
.previous-btn:focus {
  background-color: var(--clr-specfont);
}
.next-btn i {
  margin-left: 5px;
}
.previous-btn i {
  margin-right: 5px;
}
