body{
  background-image: linear-gradient(#f2f9ff 0%,#a6bce6 100%);
}

.container {
  width: 800px;
  padding: 30px;
  margin: 100px auto;
  border: 2px solid rgb(163, 133, 188);
  border-radius:5px;
  box-shadow: 0 0 10px rgb(150, 113, 186);
}
.guess-result {
  height: 500px;
  overflow-y: auto;
}
