.header,
.main,
.more {
  width: 100%;
  font-family: "Microsoft JhengHei";
  font-size: 16px;
  line-height: 1.5;
}
.container {
  width: 1200px;
  margin: auto;
}
h2,
h3 {
  font-size: 36px;
  font-weight: 700;
}
/* ================= */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 1;
}
body {
  padding-top: 140px;
}
/* ================= */
.tips {
  height: 45px;
  background-color: rgb(2, 14, 53);
  display: flex;
  align-items: center;
}
.tips nav {
  position: absolute;
  right: 140px;
}
.tips ul li {
  display: inline-block;
  margin: 1px 10px;
}
.tips ul li:first-child {
  border-right: 1px solid white;
  padding-right: 30px;
}
.tips ul li a {
  color: white;
  text-decoration: none;
}
/* ================= */
.nav {
  height: 95px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 160px;
}
.nav a {
  display: inline-block;
  color: black;
  text-decoration: none;
}
.nav .logo {
  margin-right: 80px;
}
.nav .logo a {
  padding: 30px 0;
}
.nav .logo img {
  height: 30px;
}
.nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav ul li a {
  padding: 35px 0;
}
.nav .try-btn {
  border-radius: 30px;
  background-color: rgb(16, 116, 246);
  position: absolute;
  right: 160px;
}
.nav .try-btn a {
  display: inline-block;
  padding: 8px 18px;
  color: white;
}
/* ================= */
.introduce {
  padding-top: 100px;
}
.introduce h2,
.introduce p {
  text-align: center;
}
.introduce p {
  padding: 20px;
}
/* ================= */
.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 100px 0;
}
.service:nth-child(even) {
  flex-direction: row-reverse;
}
.service + .service {
  border-top: 1px solid lightgray;
}

.service .serve-text {
  width: 50%;
}
.service .serve-text h3 {
  padding: 20px 0;
  border-bottom: 2px solid gray;
}
.service .serve-text p {
  padding: 20px 0;
}
.service .serve-text a {
  text-decoration: none;
  color: rgb(16, 116, 246);
}
.service .serve-text ul {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.service .serve-text ul li {
  display: inline-block;
  width: 300px;
  margin: 2px 0;
}
.service .serve-text ul li img {
  height: 18px;
  padding-right: 8px;
  vertical-align: text-bottom;
}

.service .serve-img {
  width: 50%;
  display: flex;
  align-items: center;
}
.service .serve-img img {
  width: 100%;
}
/* ================= */
.more {
  padding: 25px 0;
  background-color: whitesmoke;
}
.more h2 {
  text-align: center;
  margin: 50px 0;
}

.more ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5px;
  justify-content: space-between;
}
.more ul li {
  width: 300px;
  margin-bottom: 75px;
}

.more .serve-item .serve-item-img {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  margin: 0 90px 25px 90px;
}
.more .serve-item .serve-item-img img {
  width: 72px;
  position: absolute;
  left: 25px;
  top: 25px;
}

.more .serve-item h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
