@charset "UTF-8";
/* =================== */
.wrap {
  margin: auto;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  line-height: 1.5;
}
.wrap h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.wrap .column {
  padding: 40px 12%;
}
.wrap .column .main h2,
.wrap .column .main h3,
.wrap .column .main p {
  color: #ffffff;
  letter-spacing: 1px;
}
.wrap .column .main h2 {
  font-size: 36px;
  background-color: #bb0404;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0%;
  padding-top: 3%;
}
.wrap .column .main h2 p {
  font-size: 66px;
  font-weight: 100;
  letter-spacing: -1px;
  transform: rotate(90deg);
  margin: -5% 3% -3% -1%;
}
.wrap .column .main h3, .wrap .column .main > p {
  background-color: #000000;
}
.wrap .column .main h3 {
  padding: 3% 4% 0;
  font-size: 16px;
}
.wrap .column .main > p {
  padding: 0 4% 3%;
  font-weight: 100;
  font-size: 12px;
}
.wrap .column .img {
  position: relative;
}
.wrap .column .img :nth-child(1) {
  width: 100%;
  vertical-align: bottom;
}
.wrap .column .img :nth-child(2) {
  width: 11%;
  position: absolute;
  top: 40%;
  right: -3%;
}
.wrap .column .detail {
  background-color: #eeeeee;
  padding: 3%;
}
.wrap .column .detail h3 {
  color: #bb0404;
  font-weight: 700;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
.wrap .column .detail h3::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #bb0404;
  margin-left: 2%;
}
.wrap .column .detail h4 {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 0 5px;
  font-size: 13px;
}
.wrap .column .detail p {
  font-size: 12px;
  margin: 2% 0;
  display: flex;
}
.wrap .column .detail p::before {
  content: "．";
  color: #bb0404;
  font-weight: 900;
}

/* =================== */
@media screen and (min-width: 768px) {
  .wrap .column {
    display: flex;
    position: relative;
    font-size: 24px;
  }
  .wrap .column .main {
    width: 80%;
    position: relative;
    left: -3%;
    bottom: -3%;
    z-index: 1;
  }
  .wrap .column .main h2 {
    font-size: 60px;
  }
  .wrap .column .main h2 p {
    font-size: 108px;
  }
  .wrap .column .main h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .wrap .column .main p {
    font-size: 20px;
  }
  .wrap .column .img .shadow {
    background-color: #f5f5f5;
    width: 20%;
    height: 150px;
    position: absolute;
    top: -150px;
    right: 5%;
    z-index: -1;
  }
  .wrap .column .detail h4 {
    font-size: 20px;
  }
  .wrap .column .detail p {
    font-size: 18px;
  }
}
/* =================== */
@media screen and (min-width: 992px) {
  .wrap {
    max-width: 992px;
  }
  .wrap .column {
    padding: 30px 250px;
  }
  .wrap .column .main {
    width: 340px;
    left: -200px;
    bottom: -251px;
    margin-top: -201px;
  }
  .wrap .column .main h2 {
    font-size: 52px;
    height: 120px;
    padding-top: 15px;
  }
  .wrap .column .main h2 p {
    font-size: 114px;
    margin: -25px 0 -15px -10px;
  }
  .wrap .column .main h3 {
    padding: 15px 20px 5px 20px;
  }
  .wrap .column .main > p {
    height: 180px;
    padding: 0 20px 15px 20px;
  }
  .wrap .column:nth-child(even) .main h2 {
    flex-direction: row-reverse;
  }
  .wrap .column:nth-child(even) .main h2 p {
    margin: -25px -15px -15px 0;
  }
  .wrap .column .img {
    width: 700px;
  }
  .wrap .column .img .shadow {
    width: 440px;
    height: 290px;
    top: -100px;
    right: -35px;
  }
  .wrap .column .img :nth-child(1) {
    position: relative;
    left: -50px;
  }
  .wrap .column .img :nth-child(2) {
    width: 60px;
    right: 40px;
  }
  .wrap .column .detail {
    width: 660px;
    padding: 20px;
    position: relative;
    top: -30px;
    left: -150px;
  }
  .wrap .column .detail h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .wrap .column .detail h4,
.wrap .column .detail p {
    font-size: 16px;
    margin: 0;
  }
}/*# sourceMappingURL=0620-01.css.map */