.wrap {
  font-family: "Poppins", sans-serif;
  padding: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.wrap h2 {
  font-size: 24px;
  font-weight: 600;
  color: #518432;
  padding: 50px 0;
  text-align: center;
}
.wrap a {
  text-decoration: none;
  color: #333333;
}
.wrap .logo img {
  width: 160px;
}

#menu-switch {
  position: absolute;
  display: none;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrap .nav-btn-open {
  order: -1;
  position: relative;
  width: 80px;
  height: 40px;
}
header .wrap .nav-btn-open span {
  background-color: #518432;
  width: 25%;
  height: 2px;
  position: absolute;
  left: 10px;
}
header .wrap .nav-btn-open span:nth-child(1) {
  top: 12px;
}
header .wrap .nav-btn-open span:nth-child(2) {
  top: 20px;
}
header .wrap .nav-btn-open span:nth-child(3) {
  top: 28px;
}
header .wrap .main-nav {
  order: -1;
  background-color: #ffffff;
  width: 90%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -90%;
  transition: 1s;
}
header .wrap .main-nav ul {
  padding: 20px;
}
header .wrap .main-nav ul a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
header .wrap .main-nav .nav-btn-close {
  display: block;
  background-color: #518432;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu-switch:checked ~ .main-nav {
  left: 0;
}

.logo h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.toolbar {
  width: 80px;
}
.toolbar ul {
  display: flex;
  justify-content: flex-end;
}
.toolbar ul li {
  padding: 10px;
  font-size: 20px;
  color: #949494;
}
.toolbar ul li:nth-child(2) {
  display: none;
}

main .main-banner {
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-slide10.jpg?v=1585303728);
  padding: 50px 0;
}
main .main-banner .wrap {
  display: flex;
  flex-wrap: wrap;
}
main .main-banner .wrap .banner-text {
  padding: 0 8%;
}
main .main-banner .wrap .banner-text h2 {
  color: #333333;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0;
}
main .main-banner .wrap .banner-text p {
  font-size: 18px;
}
main .main-banner .wrap .banner-text .shop-btn {
  margin: 30px 0;
}
main .main-banner .wrap .banner-text .shop-btn a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #333333;
  background-color: #333333;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
}
main .main-banner .wrap img {
  width: 100%;
}
main .intro .wrap > P {
  color: #949494;
  font-style: italic;
  text-align: center;
}
main .intro .wrap .intro-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
main .intro .wrap .intro-list .intro-item {
  width: 100%;
}
main .intro .wrap .intro-list .intro-item h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
main .intro .wrap .intro-list .intro-item p {
  color: #949494;
  font-size: 16px;
}
main .intro .wrap .intro-list .intro-item li {
  padding: 15px 0;
}
main .intro .wrap .intro-list .intro-item img {
  width: 100%;
}
main .shop {
  text-align: center;
}
main .shop .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
main .shop .row [class*=cols-] {
  padding: 6px;
  position: relative;
}
main .shop .row [class*=cols-] img {
  width: 100%;
}
main .shop .row [class*=cols-] h3,
main .shop .row [class*=cols-] p {
  font-weight: 600;
  line-height: 2;
}
main .shop .row [class*=cols-] h3 {
  font-size: 14px;
}
main .shop .row [class*=cols-] p {
  font-size: 16px;
  padding-top: 10px;
}
main .shop .row [class*=cols-] .sp-tag {
  background-color: #518432;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
}
main .shop .row [class*=cols-]:nth-child(2) p::before, main .shop .row [class*=cols-]:nth-child(3) p::before, main .shop .row [class*=cols-]:nth-child(7) p::before, main .shop .row [class*=cols-]:nth-child(8) p::before {
  content: "$200.00";
  font-size: 12px;
  padding-right: 10px;
}
main .shop .row [class*=cols-]:nth-child(2) .sp-tag, main .shop .row [class*=cols-]:nth-child(3) .sp-tag, main .shop .row [class*=cols-]:nth-child(7) .sp-tag, main .shop .row [class*=cols-]:nth-child(8) .sp-tag {
  border-radius: 15px 0;
  padding: 7px 12px;
  top: 6px;
  right: 6px;
}
main .shop .row [class*=cols-]:nth-child(5) .sp-tag {
  padding: 0 8px;
  top: 35px;
  left: 6px;
}
main .shop .row .cols-2 {
  width: 46%;
}
main .media {
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362);
  background-position: left;
  padding: 70px 0;
}
main .media .wrap {
  display: flex;
  flex-wrap: wrap;
}
main .media .wrap .text {
  width: 100%;
}
main .media .wrap .text h2 {
  padding: 0 0 10px;
}
main .media .wrap .text p {
  color: #333333;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  padding: 10px 0;
}
main .media .wrap .text .shop-btn {
  margin: 40px 0;
}
main .media .wrap .text .shop-btn a {
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #333333;
  background-color: rgba(255, 255, 255, 0.5019607843);
  font-size: 16px;
  letter-spacing: 1px;
}
main .media .wrap .video {
  width: 100%;
  aspect-ratio: 560/315;
}
main .media .wrap .video iframe {
  width: 100%;
  height: 100%;
}
main .insta {
  text-align: center;
  padding-top: 20px 0;
}
main .insta span {
  font-size: 66px;
}
main .insta h2 {
  letter-spacing: 2px;
  color: #333333;
}
main .insta ul {
  display: flex;
  margin: 20px -15px;
  justify-content: center;
}
main .insta ul li {
  padding: 15px;
}
main .insta ul li:nth-child(3), main .insta ul li:nth-child(4) {
  display: none;
}
main .insta ul li img {
  width: 100%;
  position: relative;
}

footer {
  background-color: #f4f4f4;
  padding: 30px 0;
}
footer section + section {
  margin-top: 40px;
}
footer .info ul,
footer .sns ul {
  display: flex;
  justify-content: center;
}
footer .info ul li,
footer .sns ul li {
  margin: 0 10px;
}
footer .sns a {
  font-size: 16px;
  color: #ffffff;
  padding: 8px 12px;
  border: 3px solid #333333;
  border-radius: 50%;
  background-image: linear-gradient(#333333 50%, #518432 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: 0.5s;
}
footer .sns a:hover {
  background-position: 0 100%;
}
footer .info a {
  font-weight: 600;
}
footer .copyright p {
  color: #949494;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .wrap {
    max-width: 1200px;
    margin: auto;
  }
  .wrap h2 {
    font-size: 32px;
  }
  header .wrap {
    display: flex;
    justify-content: space-between;
  }
  header .wrap .nav-btn-open,
header .wrap .main-nav .nav-btn-close {
    display: none;
  }
  header .wrap .main-nav {
    position: unset;
    width: 35%;
  }
  header .wrap .main-nav ul {
    display: flex;
    justify-content: space-between;
  }
  header .wrap .main-nav ul a {
    text-transform: capitalize;
  }
  header .wrap .toolbar {
    width: 35%;
  }
  header .wrap .toolbar ul li {
    padding: 15px;
    font-size: 24px;
  }
  header .wrap .toolbar ul li:nth-child(2) {
    display: block;
  }
  main .main-banner .wrap .banner-text {
    width: 50%;
    box-sizing: border-box;
  }
  main .main-banner .wrap .banner-text h2 {
    font-size: 60px;
  }
  main .main-banner .wrap .banner-text p {
    font-size: 20px;
    color: #949494;
  }
  main .main-banner .wrap .banner-img {
    width: 50%;
  }
  main .intro .wrap > p {
    font-size: 20pz;
  }
  main .intro .wrap .intro-list .intro-item {
    width: 35%;
  }
  main .intro .wrap .intro-list .intro-item h3 {
    font-size: 24px;
  }
  main .intro .wrap .intro-list .intro-item:first-child li:nth-child(1), main .intro .wrap .intro-list .intro-item:first-child li:nth-child(2), main .intro .wrap .intro-list .intro-item:first-child li:nth-child(3) {
    text-align: right;
  }
  main .intro .wrap .intro-list div.intro-item {
    width: 30%;
  }
  main .shop .wrap .row .cols-l-3 {
    width: 29.33%;
    padding: 24px;
  }
  main .shop .wrap .row .cols-l-3:nth-child(2) .sp-tag, main .shop .wrap .row .cols-l-3:nth-child(3) .sp-tag, main .shop .wrap .row .cols-l-3:nth-child(7) .sp-tag, main .shop .wrap .row .cols-l-3:nth-child(8) .sp-tag {
    top: 24px;
    right: 24px;
  }
  main .shop .wrap .row .cols-l-3:nth-child(5) .sp-tag {
    top: 60px;
    left: 24px;
  }
  main .media .wrap {
    flex-wrap: nowrap;
  }
  main .media .wrap .text,
main .media .wrap .video {
    width: 45%;
    box-sizing: border-box;
  }
  main .media .wrap .text {
    padding: 0 10px;
  }
  main .media .wrap .text h2 {
    text-align: left;
  }
  main .insta .wrap {
    padding: 50px 0 20px;
  }
  main .insta .wrap ul li:nth-child(3),
main .insta .wrap ul li:nth-child(4) {
    display: block;
  }
  footer .logo {
    text-align: center;
  }
}/*# sourceMappingURL=0623-01.css.map */